---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre mi";

import {
    identity,
    skills,
    happy,
    finished,
    goal,
} from "../scripts/information.js";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Soy un joven que se interesa por el mundo de la programación y
        tecnología
    </p>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>
            Vivo en {identity.country} y actualmente soy {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
        goal === 1 ? (
            <p>Mi objetivo es terminar en {goal} día.</p>
        ) : (
            <p>Mi objetivo no es un día.</p>
        )
    }
</BaseLayout>
